<!DOCTYPE html>
<html>

<head>
        <link rel = "stylesheet" href = "./css/styles.css">
        <!--change the site name-->
        <title>title</title>
        <!--set the icon-->
        <link rel = 'icon' href = './img/wetaher.png'>
</head>

<body>
    </div class= 'main-content'>
    {{>header}}
    <p>{{message}}</p>
    </div>
     {{>footer}}
</body>
</html>