<!DOCTYPE html>
<html>

<head>
        <link rel = "stylesheet" href = "./css/styles.css">
        <!--change the site name-->
        <title>title</title>
        <!--set the icon-->
        <link rel = 'icon' href = './img/wetaher.png'>
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>name: {{name}}</p>
        <img class= 'portrait' src = './img/stan.png'>
    </div>
    {{>footer}}
</body>
</html>